/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
a {
	text-decoration: none;
	color: black;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
    width: 70%;
}

/** end reset css**/
body {
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

main {
    padding-top: 1em;
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    margin: auto;
    line-height: 1;
}

.frst {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
    padding-top: 38px;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
    gap: 45px;

}
nav li {
	padding: 0 10px;
	font-size: 16px;
}

li img {
    width: 22px;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
    margin: 92px 0 0 0;
    gap: 72px;
}

#introduction figure {
	flex: 1;
    display: flex;
    justify-content: flex-end;
}

#introduction img {
	display: block;
	width: 90%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.7em;
    width: 70%;
    line-height: 16.42px;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 40%;
	margin: 50px auto;
}
#contact > * {
	text-align: center;

}
#contact h2 {
	margin-bottom: 10px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer {
    background-color: white;
    position: absolute;
    width: 100%;
}

footer nav ul {
	justify-content: flex-end;
	margin: 2em
}

.info {
	background-color: white;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
}

/**button filter**/
.btn-category {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.cat-btn {
    font-size: 16px;
    padding: 10px 15px;
	color: #1D6154;
    border: 1px solid #1D6154;
    background-color: white;
    border-radius: 25px;
	font-family: 'Syne';
}

.cat-btn:hover {
	color: white;
	background-color: #1D6154;
}

/**page login**/
#login {
	width: 40%;
	margin: 15% 30%;
}
#login > * {
	text-align: center;

}
#login h2{
	margin-bottom: 10px;
}
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login label {
	margin: 2em 0 1em 0;
}
#login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#lost {
	text-align: center;
	text-decoration: underline;
}

/**Button project**/

button.modify {
    border: none;
    background-color: white;
    font-size: 14px;
    gap: 10px;
    display: flex;
    align-items: center;
    float: right;
    width: 40%;
    margin-bottom: 92px;
    padding-left: 30px;
}

.Title {
    display: flex;
    justify-content: flex-end;
    margin-top: 139px;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.modal-gallery {
    width: 630px;
    height: 688px;
    background-color: white;
    border-radius: 10px;
}

.modal-gallery h2 {
    font-size: 26px;
    color: black;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    font-family: 'work Sans';
}

.close {
    float: right;
    padding: 30px 30px 0 30px;
    border: none;
    background-color: white;
    border-radius: 10px;
    font-size: 21px;
}
i.fa-solid.fa-xmark {
    font-size: 21px;
}

.gallery .delete-btn {
    display: none;
}

.btnMore {
    text-align: center;
    padding-top: 55px;
}

.more {
    color: white;
    background-color: #1D6154;
    border-radius: 60px;
    border: 1px solid #1D6154;
    padding: 10px 50px;
    text-decoration: overline #1D6154;
}

.modal-project-list {
    display: grid;
    grid-template-columns: repeat(5, 76px);
    grid-template-rows: repeat(3, 105px);
    justify-content: center; 
    align-content: center;
    gap: 30px 10px;
}

.modal-project-list img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.project-item {
    display: flex;
    flex-direction: row-reverse;
}

.delete-btn {
    color: white;
    background-color: black;
    border: none;
    position: absolute;
    border-radius: 2px;
    margin: 5px;
    padding: 3px 5px;
}

.fa-solid, .fas {
    font-size: 10px;
}

/**2nd modal**/

.return {
    border: none;
    background-color: white;
    border-radius: 10px;
    font-size: 21px;
    padding: 27px 30px 0 30px;
}
.fa-solid.fa-arrow-left {
    font-size: 21px;
}

.modal-add-photo {
    width: 630px;
    height: 688px;
    background-color: white;
    border-radius: 10px;
}

.modal-add-photo h2 {
    font-size: 26px;
    color: black;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 46px;
    font-family: 'work Sans';
    font-weight: 400;
}

.fa-image:before {
    content: "\f03e";
    color: #B9C5CC;
    font-size: 79px;
}
#fileInput {
    display: none;
}

form.upload-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}

#uploadButton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-form span {
    color: #306685;
    width: 173px;
    height: 36px;
    background-color: #CBD6DC;
    border-radius: 50px;
    border: 1px solid #CBD6DC;
    display: flex;
    justify-content: center;
    align-items: center;
}

p.upload-instructions {
    display: flex;
    justify-content: center;
    font-size: 10px;
    margin-top: 7px;
}

.btn-add-photo {
    border: 1px solid #CBD6DC;
    border-radius: 25px;
    background-color: #CBD6DC;
    padding: 10px 33px;
    color: #306685;
    margin-top: 6px;
}

.photo-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 420px;
    height: 169px;
    background-color: #E8F1F6;
    margin-bottom: 30px;
}

.form-fields {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 42px;
}

#title {
    width: 420px;
    height: 51px;
    margin: 10px 0 21px 0;
    box-shadow: 3px 7px 20px 7px #00000017;
    border: none;
}

#category {
    height: 51px;
    box-shadow: 3px 7px 20px 7px #00000017;
    border: none;
    margin-top: 10px;
}

.btnValid {
    margin-top: 32px;
}

.Valid {
    color: white;
    width: 237px;
    height: 36px;
    background-color: #A7A7A7;
    border-radius: 60px;
    border: 1px solid #A7A7A7;
}

.Valid.active {
    background-color: #1D6154;
    border: 1px solid #1D6154;
    color: white;
}